<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="index.rss">
  </head>
  <body>
    <header class="section">
      <div class="container">
        <h1 class="title is-1">awesome-blogroll</h1>
        <p>An awesome list and aggregate feed of blogs from some of the best people, companies and communities in software.</p>
      </div>
    </header>
    <section class="section">
      <div class="container">
        <div class="feed-list tags">
        {{#feeds}}
          <span class="feed tag"><a href="{{{url}}}">{{name}}</a></span>
        {{/feeds}}
        </div>
      </div>
    </section>
    <a href="#" class="return-to-top" style="position: fixed; bottom: 1rem; right: 1rem; width: 2rem; height: 2rem; border-radius: 100%; background: #ddd; opacity: 0.3; text-align: center; text-decoration: none; line-height: 2rem;">&uarr;</a>
    <main class="feed-items">
    {{#feedItems}}
      <article class="feed-item section">
        <div class="container">
          <div class="feed-item-meta">
            <h1 class="title"><a href="{{{url}}}">{{title}}</a></h1>
            <h2 class="subtitle feed-item-feed-name"><a href="{{{feed.url}}}">{{feed.name}}</a></h2>
            <div class="tags feed-item-feed-tags">
            {{#feed.tags}}
              <span class="tag">{{.}}</span>
            {{/feed.tags}}
            </div>
            <span class="subtitle is-7">{{date.toString}}</span>
          </div>
          <div class="feed-item-summary content">
            {{{summary}}}
          </div>
        </div>
      </article>
    {{/feedItems}}
    </main>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <span class="generator">Generated with <a href="https://github.com/wcerfgba/syzygys">Syzygys</a></span>
        </div>
      </div>
    </footer>
    <style>
      a.return-to-top {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background: #ddd;
        opacity: 0.3;
        text-align: center;
        text-decoration: none;
        line-height: 2rem;
      }
      .feed-item-meta {
        margin-bottom: 1.5rem;
      }
      .feed-item-feed-name {
        margin-bottom: 0.5rem !important;
      }
      .feed-item-feed-tags {
        margin-bottom: 0 !important;
      }
    </style>
  </body>
</html>
